.DS_Store
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
.vscode/
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
other_requirements/ 